:root {
  --lila-claro: #d2a8d8;
  --lila-palido-claro: #d3c6d4a4;
  --verde-azulado-claro: #9ac2c9;
  --rosa-palido: #f8d3e3;
  --rosa-oscuro: #db7093;
  --azul-verdoso-claro: #70dbbc;
  --marron-claro: #b88676;
  --amarillo-verdoso-claro: #c9d17e;
  --amarillo-marron-claro: #c2b280;
  --cafe-oscuro: #8b7355;
}

.App {
  text-align: center;    
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
