
.container{
    /* padding-top: 10rem; */
    padding: 10rem 10rem 2rem 10rem;
    margin-top: -3rem;    
}
.logo{
    width: 100%;
}

@media (max-width: 760px) {
    .container{
        padding: 5rem 3rem 3rem 3rem;
    }
}

@media (max-width: 400px) {
    .container{
        padding: 5rem 0 3rem 1rem;
    }
}
